# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temp stuff
*.swp
Gemfile.lock

# the Binaries themselves
data/meterpreter/*

# and the generated output
pkg/*
